<div *ngIf="game">
    <div class="header-container" [style]="backgroundStyle">
        <div class="common-header">
            <div class="side left-info">
                <div class="titles-container">
                    <div class="title">{{game.name}}</div>
                    <div class="aka-title" *ngIf="game.alt_name">{{game.alt_name}}</div>
                </div>
                <div class="related-game" *ngIf="gamesCollection && gamesCollection.length">RECOPILATORIO</div>
                <div class="related-game" *ngIf="gamesRemaster && gamesRemaster.length">Remaster de <a [routerLink]="'/games/'+gamesRemaster[0]!.id">{{gamesRemaster[0]!.name}}</a></div>
                <div class="related-game" *ngIf="gamesRemake && gamesRemake.length">Remake de <a [routerLink]="'/games/'+gamesRemake[0]!.id">{{gamesRemake[0]!.name}}</a></div>
                <div class="related-game" *ngIf="gamesSpinoff && gamesSpinoff.length">Spinoff de <a [routerLink]="'/games/'+gamesSpinoff[0]!.id">{{gamesSpinoff[0]!.name}}</a></div>
                <mat-chip-listbox aria-label="Games info">
                    <div *ngIf="game.genres && game.genres.length">
                        <mat-chip *ngFor="let genre of game.genres" [routerLink]="'/genres/'+genre!.id">{{genre.name}}</mat-chip>
                    </div>
                    <div *ngIf="game.themes && game.themes.length">
                        <mat-chip *ngFor="let theme of game.themes" [routerLink]="'/themes/'+theme!.id">{{theme.name}}</mat-chip>
                    </div>
                </mat-chip-listbox>
            </div>
            <div class="side right-info">
                <div class="logo-container">
                    <img class="logo" [src]="'http://localhost:3000/images/games/'+game.logo"/>
                </div>
            </div>
        </div>
    </div>
    <div class="platforms-container" *ngIf="game.platforms && game.platforms.length">
        <div class="platforms-area">
            <div *ngFor="let platform of game.platforms" [class]="'platform-tag ' + platform.name" [matTooltip]="platform.name" [routerLink]="'/platforms/'+platform!.id">
                <img class="platform-mini-logo" [src]="'http://localhost:3000/images/platforms/'+platform.mini_logo"/>
            </div>
        </div>
    </div>

    <div class="common-content">
        <div class="main-game">
            <div class="game-data">
                <div class="cover-container">
                    <img class="cover-img" *ngIf="cover" [src]="'http://localhost:3000/images/games/'+game.main_img"/>
                    <img class="cover-img" *ngIf="!cover" [src]="'http://localhost:3000/images/games/'+game.back_cover"/>
                    <mat-button-toggle-group class="cover-selector" name="coverSelected" aria-label="coverSelected" [(ngModel)]="cover">
                        <mat-button-toggle [value]="true">Front</mat-button-toggle>
                        <mat-button-toggle [value]="false">Back</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="game-info">
                    <div class="info-entry">
                        <div class="label-info">Fecha de salida:</div>
                        <div class="value-info">{{game.release_date | date: 'dd/MM/yyyy'}}</div>
                    </div>
                    <div class="info-entry" *ngIf="companiesDev && companiesDev.length">
                        <div class="label-info">Desarrolladora:</div>
                        <div class="value-info" *ngFor="let company of companiesDev"><img class="img-line" [src]="'http://localhost:3000/images/companies/'+company.main_img"/><a [routerLink]="['/companies', company.id]">{{company.name}}</a></div>
                    </div>
                    <div class="info-entry" *ngIf="companiesPub && companiesPub.length">
                        <div class="label-info">Distribuidora:</div>
                        <div class="value-info" *ngFor="let company of companiesPub"><img class="img-line" [src]="'http://localhost:3000/images/companies/'+company.main_img"/><a [routerLink]="['/companies', company.id]">{{company.name}}</a></div>
                    </div>
                    <div class="info-entry" *ngIf="game.directors && game.directors.length">
                        <div class="label-info">Director(es):</div>
                        <div class="value-info" *ngFor="let director of game.directors"><img class="img-line" [src]="'http://localhost:3000/images/people/'+director.main_img"/><a [routerLink]="['/people', director.id]">{{director.name}}</a></div>
                    </div>
                    <div class="info-entry" *ngIf="game.num_players">
                        <div class="label-info">Num. Jugadores:</div>
                        <div class="value-info">{{game.num_players}}</div>
                    </div>
                    <div class="info-entry" *ngIf="game.wikipedia">
                        <div class="value-info"><a [href]="game.wikipedia" target="_blank">Wikipedia</a></div>
                    </div>
                </div>
            </div>

            <div class="game-additional">
                <div class="main-row">
                    <div class="score" [style]="scoreStyle">{{game.score ? game.score : '-'}}</div>
                    <div *ngIf="mainAwards && mainAwards.length">
                        <div *ngFor="let award of mainAwards" class="award-color" [ngClass]="{'runnerup': award.Game_Award!.result === AwardResult.runnerup}" [matTooltip]="award.Game_Award!.year + ' ' +award.award!.name + ' ' + award.name + ' ' + award.Game_Award!.result">
                            <div class="award-background">
                                <img class="award-logo" [src]="'http://localhost:3000/images/awards/'+award.award!.main_img"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game-status">
                    <div class="game-owned-button" [matMenuTriggerFor]="status_select" [ngClass]="{'completed': game.personal_status === GameStatus.completed, 'played': game.personal_status === GameStatus.played, 'not_played': game.personal_status === GameStatus.notPlayed}">
                        {{statusText}}
                    </div>
                    <mat-menu #status_select="matMenu">
                        <button mat-menu-item (click)="changeGameStatus(GameStatus.notPlayed)">
                            <span>NO JUGADO</span>
                        </button>
                        <button mat-menu-item (click)="changeGameStatus(GameStatus.played)">
                            <span>JUGADO</span>
                        </button>
                        <button mat-menu-item (click)="changeGameStatus(GameStatus.completed)">
                            <span>COMPLETADO</span>
                        </button>
                    </mat-menu>
                </div>
                <div class="game-status">
                    <div *ngIf="!game.owned" class="game-owned-button" (click)="changeGameOwned(true)">
                        ME FALTA
                    </div>
                    <div *ngIf="game.owned" class="game-owned-button owned" (click)="changeGameOwned(false)">
                        EN LA COLECCIÓN
                    </div>
                </div>
                <div class="game-price-row">
                    <div class="game-price-container">
                        <div class="game-price-value">{{ game.price ? game.price : '-'}} €</div>
                        <div class="game-price-format">{{game.format}}</div>
                    </div>
                </div>
            </div>
        </div>

        <mat-expansion-panel *ngIf="game.franchise"  [expanded]="true">
            <mat-expansion-panel-header class="divider"[style]="backgroundStyle">
                <mat-panel-title>
                Franquicia
                </mat-panel-title>
            </mat-expansion-panel-header>
            <vgdb-items-list [itemsList]="[game.franchise]"
                        navigateTo="franchises" imgPath="franchises">
            </vgdb-items-list>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="game.characters && game.characters.length">
            <mat-expansion-panel-header class="divider"[style]="backgroundStyle">
              <mat-panel-title>
                Personajes
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="charactersPlayable && charactersPlayable.length" class="expansion-container">
                <div class="subtitle">Jugable:</div>
                <vgdb-avatars-list [avatarsList]="charactersPlayable"
                                  navigateTo="characters" imgPath="characters">
                </vgdb-avatars-list>
            </div>
            <div *ngIf="charactersSecondary && charactersSecondary.length" class="expansion-container">
                <div class="subtitle">Secundario:</div>
                <vgdb-avatars-list [avatarsList]="charactersSecondary"
                                  navigateTo="characters" imgPath="characters">
                </vgdb-avatars-list>
            </div>
            <div *ngIf="charactersAntagonist && charactersAntagonist.length" class="expansion-container">
                <div class="subtitle">Antagonista:</div>
                <vgdb-avatars-list [avatarsList]="charactersAntagonist"
                                  navigateTo="characters" imgPath="characters">
                </vgdb-avatars-list>
            </div>
            <div *ngIf="charactersVillain && charactersVillain.length" class="expansion-container">
                <div class="subtitle">Otros villanos:</div>
                <vgdb-avatars-list [avatarsList]="charactersVillain"
                                  navigateTo="characters" imgPath="characters">
                </vgdb-avatars-list>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="game.awards && game.awards.length">
            <mat-expansion-panel-header class="divider" [style]="backgroundStyle">
                <mat-panel-title>
                Premios
                </mat-panel-title>
            </mat-expansion-panel-header>
            <table mat-table [dataSource]="game.awards" class="mat-elevation-z8">
                  <!-- Position Column -->
                <ng-container matColumnDef="Game_Award.year">
                    <th mat-header-cell *matHeaderCellDef> Año </th>
                    <td mat-cell *matCellDef="let award"> {{award.Game_Award!.year}} </td>
                </ng-container>

                <ng-container matColumnDef="award.name">
                    <th mat-header-cell *matHeaderCellDef> Premio </th>
                    <td mat-cell *matCellDef="let award"> {{award.award!.name}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Categoria </th>
                    <td mat-cell *matCellDef="let award"> {{award.name}} </td>
                </ng-container>


                <ng-container matColumnDef="Game_Award.result">
                    <th mat-header-cell *matHeaderCellDef> Resultado </th>
                    <td mat-cell *matCellDef="let award"> {{award.Game_Award!.result === "WINNER" ? "Ganador" : "Finalista"}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedAwardsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedAwardsColumns;"></tr>

            </table>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="game.media">
            <mat-expansion-panel-header class="divider"[style]="backgroundStyle">
                <mat-panel-title>
                Media
                </mat-panel-title>
            </mat-expansion-panel-header>
            <iframe width="420" height="315"
                [src]="game.media | safe: 'resourceUrl'">
            </iframe>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="!!gamesOfSerie?.length">
            <mat-expansion-panel-header class="divider"[style]="backgroundStyle">
                <mat-panel-title>
                Serie
                </mat-panel-title>
            </mat-expansion-panel-header>
            <vgdb-items-list [itemsList]="gamesOfSerie"
                        navigateTo="games" imgPath="games">
            </vgdb-items-list>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="game.parentGames && game.parentGames.length">
            <mat-expansion-panel-header class="divider"[style]="backgroundStyle">
              <mat-panel-title>
                Juegos relacionados
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="gamesCollection && gamesCollection.length" class="expansion-container">
                <div class="subtitle">En el recopilatorio:</div>
                <vgdb-items-list [itemsList]="gamesCollection"
                        navigateTo="games" imgPath="games">
                </vgdb-items-list>
            </div>
            <div *ngIf="gamesRemaster && gamesRemaster.length" class="expansion-container">
                <div class="subtitle">Remasteriza:</div>
                <vgdb-items-list [itemsList]="gamesRemaster"
                        navigateTo="games" imgPath="games">
                </vgdb-items-list>
            </div>
            <div *ngIf="gamesRemake && gamesRemake.length" class="expansion-container">
                <div class="subtitle">Es Remake de:</div>
                <vgdb-items-list [itemsList]="gamesRemake"
                        navigateTo="games" imgPath="games">
                </vgdb-items-list>
            </div>
            <div *ngIf="gamesSpinoff && gamesSpinoff.length" class="expansion-container">
                <div class="subtitle">Es spinoff de:</div>
                <vgdb-items-list [itemsList]="gamesSpinoff"
                        navigateTo="games" imgPath="games">
                </vgdb-items-list>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="game.subGames && game.subGames.length">
            <mat-expansion-panel-header class="divider"[style]="backgroundStyle">
              <mat-panel-title>
                Juegos derivados
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="gamesDerivedCollection && gamesDerivedCollection.length" class="expansion-container">
                <div class="subtitle">Incluido en los recopilatorios:</div>
                <vgdb-items-list [itemsList]="gamesDerivedCollection"
                        navigateTo="games" imgPath="games">
                </vgdb-items-list>
            </div>
            <div *ngIf="gamesDerivedRemaster && gamesDerivedRemaster.length" class="expansion-container">
                <div class="subtitle">Remasterizado en:</div>
                <vgdb-items-list [itemsList]="gamesDerivedRemaster"
                        navigateTo="games" imgPath="games">
                </vgdb-items-list>
            </div>
            <div *ngIf="gamesDerivedRemake && gamesDerivedRemake.length" class="expansion-container">
                <div class="subtitle">Tiene los siguientes remakes:</div>
                <vgdb-items-list [itemsList]="gamesDerivedRemake"
                        navigateTo="games" imgPath="games">
                </vgdb-items-list>
            </div>
            <div *ngIf="gamesDerivedSpinoff && gamesDerivedSpinoff.length" class="expansion-container">
                <div class="subtitle">Tienes estos spinoff:</div>
                <vgdb-items-list [itemsList]="gamesDerivedSpinoff"
                        navigateTo="games" imgPath="games">
                </vgdb-items-list>
            </div>
        </mat-expansion-panel>

    </div>
    <div class="fav-button-bottom-right">
        <button mat-fab [style]="backgroundStyle" [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="presentEditDialog()">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="presentAddGenresDialog()">
                <mat-icon>sports_basketball</mat-icon>
                <span>Añadir géneros</span>
            </button>
            <button mat-menu-item (click)="presentAddThemesDialog()">
                <mat-icon>castle</mat-icon>
                <span>Añadir temáticas</span>
            </button>
            <button mat-menu-item (click)="presentAddDirectorsDialog()">
                <mat-icon>person</mat-icon>
                <span>Añadir directores</span>
            </button>
            <button mat-menu-item (click)="presentAddPlatformsDialog()">
                <mat-icon>videogame_asset</mat-icon>
                <span>Añadir plataformas</span>
            </button>
            <button mat-menu-item (click)="presentAddDevelopersDialog()">
                <mat-icon>apartment</mat-icon>
                <span>Añadir desarrolladoras</span>
            </button>
            <button mat-menu-item (click)="presentAddPublishersDialog()">
                <mat-icon>apartment</mat-icon>
                <span>Añadir distribuidoras</span>
            </button>
            <button mat-menu-item *ngIf="!game.franchise" (click)="presentAddFranchiseDialog()">
                <mat-icon>group_work</mat-icon>
                <span>Añadir franquicia</span>
            </button>
            <button mat-menu-item *ngIf="!!game.franchise" (click)="presentRemoveFranchiseDialog()">
                <mat-icon>group_work</mat-icon>
                <span>Eliminar franquicia</span>
            </button>
            <button mat-menu-item (click)="presentAddCharactersDialog()">
                <mat-icon>smart_toy</mat-icon>
                <span>Añadir personajes</span>
            </button>
            <button mat-menu-item (click)="presentAddGameRelationDialog()">
                <mat-icon>sports_esports</mat-icon>
                <span>Añadir juegos relacionados</span>
            </button>
            <button mat-menu-item (click)="presentManageAwardsDialog()">
                <mat-icon>list_alt</mat-icon>
                <span>Gestionar premios</span>
            </button>
            <button mat-menu-item (click)="presentDeleteDialog()">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
        </mat-menu>
    </div>
</div>


<ng-template #gameForm><vgdb-game-form [data]="game" (submitted)="formSubmitted()"></vgdb-game-form></ng-template>

<ng-template #addGenresDialog>
    <vgdb-multi-autocomplete-field [dataType]="'genre'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="game.genres"></vgdb-multi-autocomplete-field>
    <div class="dialog-button">
        <button mat-stroked-button (click)="addGenre()">Aceptar</button>
    </div>
</ng-template>

<ng-template #addThemesDialog>
    <vgdb-multi-autocomplete-field [dataType]="'theme'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="game.themes"></vgdb-multi-autocomplete-field>
    <div class="dialog-button">
        <button mat-stroked-button (click)="addTheme()">Aceptar</button>
    </div>
</ng-template>

<ng-template #addDirectorsDialog>
    <vgdb-multi-autocomplete-field [dataType]="'person'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="game.directors"></vgdb-multi-autocomplete-field>
    <div class="dialog-button">
        <button mat-stroked-button (click)="addDirector()">Aceptar</button>
    </div>
</ng-template>

<ng-template #addPlatformsDialog>
    <vgdb-multi-autocomplete-field [dataType]="'platform'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="game.platforms"></vgdb-multi-autocomplete-field>
    <div class="dialog-button">
        <button mat-stroked-button (click)="addPlatform()">Aceptar</button>
    </div>
</ng-template>

<ng-template #addDevelopersDialog>
    <vgdb-multi-autocomplete-field [dataType]="'company'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="companiesDev"></vgdb-multi-autocomplete-field>
    <div class="dialog-button">
        <button mat-stroked-button (click)="addDeveloper()">Aceptar</button>
    </div>
</ng-template>

<ng-template #addPublishersDialog>
    <vgdb-multi-autocomplete-field [dataType]="'company'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="companiesPub"></vgdb-multi-autocomplete-field>
    <div class="dialog-button">
        <button mat-stroked-button (click)="addPublisher()">Aceptar</button>
    </div>
</ng-template>

<ng-template #addFranchiseDialog>
    <div *ngIf="!!addFranchiseForm">
        <form [formGroup]="addFranchiseForm" (ngSubmit)="onAddFranchise()">
            <mat-form-field>
                <mat-label>Franquicia</mat-label>
                <input matInput
                        aria-label="Franchise"
                        [matAutocomplete]="auto"
                        formControlName="franchiseId">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName(franchisesInCurrentSearch)" (optionSelected)='getSeries($event.option.value)'>
                    @for (franchise of filteredFranchises | async; track franchise) {
                    <mat-option [value]="franchise.id">
                        <div class="info-entry"><div class="value-info"><img class="img-line" [src]="'http://localhost:3000/images/franchises/'+franchise.main_img"/>{{franchise.name}}</div></div>
                    </mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field *ngIf="seriesFromFranchise && seriesFromFranchise.length">
                <mat-label>Serie</mat-label>
                <mat-select id="serieId" formControlName="serieId">
                @for (serie of seriesFromFranchise; track serie) {
                  <mat-option [value]="serie.id">{{serie.name}}</mat-option>
                }
                </mat-select>
            </mat-form-field>
            <div class="form-button">
                <button type="submit" [disabled]="!addFranchiseForm.valid" mat-stroked-button>Añadir</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #removeFranchiseDialog>
    <p>¿Estás seguro que quieres desvincular la franquicia?</p>
    <div class="alert-buttons">
        <button mat-stroked-button (click)="closeDialog()">No</button>
        <button mat-flat-button color="warn" (click)="removeFranchise()">Sí</button>
    </div>
</ng-template>

<ng-template #addCharactersDialog>
    <mat-form-field style="width: 100%;">
        <mat-label>Rol</mat-label>
        <mat-select [(ngModel)]="charactersRole">
          <mat-option [value]="CharacterRole.playable">Jugable</mat-option>
          <mat-option [value]="CharacterRole.antagonist">Antagonista</mat-option>
          <mat-option [value]="CharacterRole.secondary">Secundario</mat-option>
          <mat-option [value]="CharacterRole.villain">Villano secundario</mat-option>
        </mat-select>
    </mat-form-field>
    <vgdb-multi-autocomplete-field *ngIf="charactersRole === CharacterRole.playable" [dataType]="'character'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="charactersPlayable"></vgdb-multi-autocomplete-field>
    <vgdb-multi-autocomplete-field *ngIf="charactersRole === CharacterRole.antagonist" [dataType]="'character'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="charactersAntagonist"></vgdb-multi-autocomplete-field>
    <vgdb-multi-autocomplete-field *ngIf="charactersRole === CharacterRole.secondary" [dataType]="'character'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="charactersSecondary"></vgdb-multi-autocomplete-field>
    <vgdb-multi-autocomplete-field *ngIf="charactersRole === CharacterRole.villain" [dataType]="'character'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="charactersVillain"></vgdb-multi-autocomplete-field>
    <div class="dialog-button">
        <button mat-stroked-button (click)="addCharacter()">Aceptar</button>
    </div>
</ng-template>


<ng-template #addGameRelationDialog>
    <mat-form-field style="width: 100%;">
        <mat-label>Relación</mat-label>
        <mat-select [(ngModel)]="gameRelation">
          <mat-option [value]="GameRelation.collection">Recopilatorio</mat-option>
          <mat-option [value]="GameRelation.remaster">Remaster</mat-option>
          <mat-option [value]="GameRelation.remake">Remake</mat-option>
          <mat-option [value]="GameRelation.spinoff">Spin off</mat-option>
        </mat-select>
    </mat-form-field>
    <vgdb-multi-autocomplete-field *ngIf="gameRelation === GameRelation.collection" [dataType]="'game'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="gamesCollection"></vgdb-multi-autocomplete-field>
    <vgdb-multi-autocomplete-field *ngIf="gameRelation === GameRelation.remaster" [dataType]="'game'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="gamesRemaster"></vgdb-multi-autocomplete-field>
    <vgdb-multi-autocomplete-field *ngIf="gameRelation === GameRelation.remake" [dataType]="'game'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="gamesRemake"></vgdb-multi-autocomplete-field>
    <vgdb-multi-autocomplete-field *ngIf="gameRelation === GameRelation.spinoff" [dataType]="'game'" (onItemSelected)="onSelectorChange($event)" [itemsPreSelected]="gamesSpinoff"></vgdb-multi-autocomplete-field>
    <div class="dialog-button">
        <button mat-stroked-button (click)="addGameRelation()">Aceptar</button>
    </div>
</ng-template>

<ng-template #manageAwardsDialog>
    <ng-container *ngIf="manageAwardsShowList">
        <div class="awards-list" *ngIf="game.awards && game.awards.length">
            <div class="award-item" *ngFor="let award of game.awards">
                <div>{{award?.award?.name}} - {{award.name}}</div>
                <div>
                     <button mat-icon-button aria-label="Nueva" (click)="deleteAward(award.Game_Award)">
                        <mat-icon>delete</mat-icon>
                     </button>
                </div>

            </div>
        </div>
        <div class="dialog-button">
            <button mat-stroked-button (click)="addGameAward()">Añadir nuevo</button>
        </div>
    </ng-container>
    <ng-container *ngIf="!manageAwardsShowList">
        <vgdb-game-award-form [gameId]="game.id!" (submitted)="formSubmitted()"></vgdb-game-award-form>
    </ng-container>
</ng-template>

<ng-template #deleteDialog>
    <p>¿Estás seguro que quieres eliminar este juego?</p>
    <div class="alert-buttons">
        <button mat-stroked-button (click)="closeDialog()">No</button>
        <button mat-flat-button color="warn" (click)="deleteGame()">Sí</button>
    </div>
</ng-template>