@use '../../../../variables'; 

.platforms-container{
    background-color: variables.$light-grey;
    .platforms-area {
        max-width: variables.$max-screen-width;
        /* Centers the class */
        margin-left: auto; 
        margin-right: auto;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 3px;
        display: flex;
        flex-wrap: wrap;
        
        .platform-tag {
            border: 1px solid variables.$grey-border;
            cursor: pointer;
            display: flex;
            width: 80px;
            height: 35px;
            border-radius: 20px;
            margin-right: 8px;
            margin-bottom: 5px;
            background-color: black;

            &:last-child {
                margin-right: 0px;
            }
            .platform-mini-logo {
                max-width: 60px;
                max-height: 25px;
                margin: auto;
                display: block;

            }
            
            &.NES, &.Master, &.Disk {
                background-color: white;
            }
        }
    }
}


.main-game {
    display: flex;
    padding-top: 10px;
    margin-bottom: 30px;
    .game-data {
        display: flex;
    }
    .cover-container {
        background-color: variables.$light-grey;
        border: 1px solid variables.$grey-border;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        max-height: 500px;
        .cover-img {
            width: 215px;
            max-height: 450px;
            margin: auto;
            display: block;
            object-fit: cover;
        }
        .cover-selector {
            margin: auto;
        }
    }
    .game-info {
        margin-right: 30px;
        width: 215px;
        .info-entry {
            margin-bottom: 10px;
            .label-info {
                font-weight: bold;
            }
        }
    }

    .game-additional {
        flex-grow: 1;
        .main-row {
            display: flex;
            justify-content: end;
            padding-bottom: 10px;
        }
        .score {
            background-color: #01ce7a;
            height: 64px;
            width: 64px;
            border-radius: 6px;
            text-align: center;
            font-weight: 700;
            font-size: 40px;
            line-height: 64px;
        }
        .award-color {
            margin-left: 20px;
            width: 64px;
            height: 64px;
            background-color: gold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 32px;
            .award-background {
                width: 58px;
                height: 58px;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                .award-logo {
                    height: 50px;
                }
            }
            &.runnerup {
                opacity: .5;
                background-color: silver;
            }
        }

        .game-status {
            display: flex;
            justify-content: end;
            padding-top: 20px;
            padding-bottom: 20px;
            .game-owned-button{
                font-family: "pixela";
                width: 160px;
                border: 1px solid variables.$grey-border;
                cursor: pointer;
                background-color: variables.$light-grey;
                opacity: .6;
                padding: 5px;
                text-align: center;
                line-height: 21px;
                &.owned, &.completed {
                    opacity: 1;
                    background-color: green;
                    color: white;
                }
                &.not_played {
                    opacity: 1;
                    background-color: darkred;
                    color: white;
                }
                &.played {
                    opacity: 1;
                    background-color: darkorange;
                    color: white;
                }
            }
        }

        .game-price-row {
            display: flex;
            justify-content: end;
            margin-top: 20px;
            .game-price-container {
                border: 3px solid variables.$grey-border;
                width: 170px;
                text-align: center;
                .game-price-value {
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 70px;
                }
                .game-price-format {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 35px;
                    color: white;
                    background-color: black;
                }
            }
        }

    }
}

.awards-list {
    margin-bottom: 20px;
    .award-item {
        height: 60px;
        width: 100%;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }
}
