<div class="common-content">
    <vgdb-common-list-header [dataType]="'person'" (dialogNewOpen)="dispatchNewDialog()" (toSearch)="search($event, 0)" (toNavigate)="navigateTo($event)"></vgdb-common-list-header>
    <div *ngIf="!!people.length">
        <vgdb-items-list [itemsList]="people"
                         [itemsTotal]="itemsTotal"
                         (onPageChange)="pageChange($event)"
                         navigateTo="people" imgPath="people">
        </vgdb-items-list>
    </div>
    <div *ngIf="!people.length">
        <p>No se han encontrado personas</p>
    </div>
</div>

<ng-template #personForm><vgdb-person-form (submitted)="formSubmitted($event)"></vgdb-person-form></ng-template>