<div *ngIf="person">
    <div class="header-container">
        <div class="common-header">
            <div class="side left-info">
                <div class="titles-container">
                    <div class="title">{{person.name}} <span *ngIf="person.nationality" [class]="'fi fi-' +person.nationality+' flag'"></span></div>
                </div>
            </div>
            <div class="side right-info">
                <div class="logo-container">
                    <img class="logo" [src]="'http://localhost:3000/images/people/'+person.main_img">
                </div>
            </div>
        </div>
    </div>

    <div class="common-content">
        <div class="info-entry">
            <div class="label-info">Fecha nacimiento:</div>
            <div class="value-info">{{person.birthday | date: 'dd/MM/yyyy'}}</div>
        </div>
        <div class="info-entry" *ngIf="person.wikipedia">
            <div class="value-info"><a [href]="person.wikipedia" target="_blank">Wikipedia</a></div>
        </div>
        <mat-expansion-panel *ngIf="person.games && person.games.length">
            <mat-expansion-panel-header class="divider"[style]="backgroundStyle">
              <mat-panel-title>
                Juegos dirigidos
              </mat-panel-title>
            </mat-expansion-panel-header>
            <vgdb-items-list [itemsList]="person.games"
                              navigateTo="games" imgPath="games">
            </vgdb-items-list>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="person.franchises && person.franchises.length">
            <mat-expansion-panel-header class="divider"[style]="backgroundStyle">
              <mat-panel-title>
                Franquicias creadas
              </mat-panel-title>
            </mat-expansion-panel-header>
            <vgdb-items-list [itemsList]="person.franchises"
                              navigateTo="franchises" imgPath="franchises">
            </vgdb-items-list>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="person.characters && person.characters.length">
            <mat-expansion-panel-header class="divider"[style]="backgroundStyle">
              <mat-panel-title>
                Personajes diseñados
              </mat-panel-title>
            </mat-expansion-panel-header>
            <vgdb-avatars-list [avatarsList]="person.characters"
                        navigateTo="characters" imgPath="characters">
            </vgdb-avatars-list>
        </mat-expansion-panel>

        <div class="fav-button-bottom-right">
            <button mat-fab [style]="backgroundStyle" [matMenuTriggerFor]="menu">
              <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="presentEditDialog()">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="presentDeleteDialog()">
                  <mat-icon>delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
        </div>
    </div>
</div>

<ng-template #personForm><vgdb-person-form [data]="person" (submitted)="formSubmitted()"></vgdb-person-form></ng-template>

<ng-template #deleteDialog>
    <p>¿Estás seguro que quieres eliminar esta persona?</p>
    <div class="alert-buttons">
        <button mat-stroked-button (click)="closeDialog()">No</button>
        <button mat-flat-button color="warn" (click)="deletePerson()">Sí</button>
    </div>
</ng-template>