<div *ngIf="person">
    <div class="header-container">
        <div class="common-header">
            <div class="side left-info">
                <div class="titles-container">
                    <div class="title">{{person.name}} <span *ngIf="person.nationality" [class]="'fi fi-' +person.nationality+' flag'"></span></div>
                </div>
            </div>
            <div class="side right-info">
                <div class="logo-container">
                    <img class="logo" [src]="'http://localhost:3000/images/people/'+person.main_img">
                </div>
            </div>
        </div>
    </div>

    <div class="common-content">
        <div class="info-entry">
            <div class="label-info">Fecha nacimiento:</div>
            <div class="value-info">{{person.birthday}}</div>
        </div>
        <div *ngIf="person.franchises && person.franchises.length">
            <div class="info-entry"><div class="label-info">Franquicias:</div></div>
            <vgdb-items-list [itemsList]="person.franchises"
                              navigateTo="franchises" imgPath="franchises">
            </vgdb-items-list>
        </div>
        <div *ngIf="person.games && person.games.length">
            <div class="info-entry"><div class="label-info">Juegos:</div></div>
            <vgdb-items-list [itemsList]="person.games"
                              navigateTo="games" imgPath="games">
            </vgdb-items-list>
        </div>
        <div *ngIf="person.characters && person.characters.length">
            <div class="info-entry"><div class="label-info">Personajes:</div></div>
            <vgdb-items-list [itemsList]="person.characters"
                              navigateTo="characters" imgPath="characters">
            </vgdb-items-list>
        </div>
    </div>
</div>