.header-container {
   background-color: indigo;
}

.main-platform {
   display: flex;
   padding-top: 10px;
   margin-bottom: 30px;
   .platform-img {
       margin-right: 50px;
       img {
        max-width: 350px;
        max-height: 350px;
        margin: auto;
        display: block;
        object-fit: cover;
       }
   }
}

.models-list {
   margin-bottom: 20px;
   .model-item {
       height: 60px;
       width: 100%;
       color: black;
       display: flex;
       justify-content: space-between;
       align-items: center;
       border-bottom: 1px solid lightgray;
   }
}
