<div class="common-content">
    <vgdb-common-list-header (dialogNewOpen)="dispatchNewDialog()" (toSearch)="search($event, 0)"></vgdb-common-list-header>
    <div *ngIf="!!franchises.length">
        <vgdb-items-list [itemsList]="franchises"
                         [itemsTotal]="itemsTotal"
                         (onPageChange)="pageChange($event)"
                         navigateTo="franchises" imgPath="franchises">
        </vgdb-items-list>
    </div>
    <div *ngIf="!franchises.length">
        <p>No se han encontrado franquicias</p>
    </div>
</div>

<ng-template #franchiseForm><vgdb-franchise-form (submitted)="formSubmitted($event)"></vgdb-franchise-form></ng-template>