<div>
    <div class="header-container">
        <div class="common-header">
            <div class="side left-info">
                <div class="titles-container">
                    <div class="title">Sonic the Hedgehog</div>
                </div>
                <mat-chip-listbox aria-label="Fish selection">
                    <mat-chip [routerLink]="'/companies/10'">Sega Corporation</mat-chip>
                </mat-chip-listbox>
            </div>
            <div class="side right-info">
                <div class="logo-container">
                    <img class="logo" src="http://localhost:3000/images/franchises/sonic.png">
                </div>
            </div>
        </div>
    </div>

    <div class="common-content">
        FRANCH detail
    </div>
</div>