<div>
    <div class="header-container">
        <div class="common-header">
            <div class="side left-info">
                <div class="titles-container">
                    <div class="title">Sonic the Hedgehog</div>
                    <div class="aka-title">AKA: Sonico Huchi (JAP)</div>
                </div>
                <div class="related-game">Remaster de <a [routerLink]="'/games'">Sonic: tu juego favorito</a></div>
                <mat-chip-listbox aria-label="Fish selection">
                    <mat-chip [routerLink]="'/franchises/10'">Sonic the Hedgehog</mat-chip>
                    <mat-chip>Plataformas</mat-chip>
                    <mat-chip>Plataformas 3D</mat-chip>
                    <mat-chip>Warn fish</mat-chip>
                </mat-chip-listbox>
            </div>
            <div class="side right-info">
                <div class="logo-container">
                    <img class="logo" src="http://localhost:3000/images/games/sonic/sonic_the_hedgehog/logo.png">
                </div>
            </div>
        </div>
    </div>

    <div class="common-content">
        person detail
    </div>
</div>