<div *ngIf="awardForm">
    <form [formGroup]="awardForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input id="name" type="text" formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Imagen</mat-label>
            <input id="main_img" type="text" formControlName="main_img" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Wikipedia</mat-label>
            <input id="wikipedia" type="text" formControlName="wikipedia" matInput>
        </mat-form-field>
        <mat-checkbox formControlName="is_main">Premio principal</mat-checkbox>
        
        <div class="form-button">
            <button type="submit" [disabled]="!awardForm.valid" *ngIf="!data" mat-stroked-button>Crear</button>
            <button type="submit" [disabled]="!awardForm.valid" *ngIf="!!data" mat-stroked-button>Modificar</button>
        </div>
    </form>
</div>