@use '../../../../variables'; 

.flag {
    border: 1px solid black;
    background-size: cover;
    max-height: 50px;
    max-width: 150px;
    margin-left: 4px;
}

.main-company {
    display: flex;
    padding-top: 10px;
    .company-info {
        margin-right: 30px;
        .info-entry {
            margin-bottom: 10px;
            .label-info {
                font-weight: bold;
            }
        }
        .people-wrapper {
            display: flex;
            max-height: 150px;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            gap: 0px 50px;
        }
    }
    .company-status {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        .company-active-button{
            font-family: "pixela";
            width: 160px;
            border: 1px solid variables.$grey-border;
            cursor: pointer;
            background-color: darkred;
            padding: 5px;
            text-align: center;
            line-height: 21px;
            color: white;
            &.active {
                background-color: green;
                
            }
        }
    }
}