<div>
    <div class="header-container">
        <div class="header">
            <div class="side left-info">
                <div class="titles-container">
                    <div class="title">Sega Corporation</div>
                    <div class="aka-title">Nombres previos: Segata</div>
                </div>
                <div class="related-game">Pertenece a <a [routerLink]="'/games'">Nintendo</a></div>
                <mat-chip-listbox aria-label="Fish selection">
                    <mat-chip [routerLink]="'/franchises/10'">Sonic the Hedgehog</mat-chip>
                </mat-chip-listbox>
            </div>
            <div class="side right-info">
                <div class="logo-container">
                    <img class="logo" src="http://localhost:3000/images/companies/sega.png">
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        COMPA detail
    </div>
</div>