/* You can add global styles to this file, and also import other style files */
@use '../variables'; 

.body {
    .toolbar-container {
        background-color: black;
    }
    mat-toolbar {
        max-width: variables.$max-screen-width;

        /* Centers the class */
        margin-left: auto; 
        margin-right: auto;

        background-color: black;
        color: white;
        .logo-home {
            height: 30px;
            width: 30px;
        }
        .spacer {
            flex: 1 1 auto;
          }
    }
}

