
<div class="body">
  <div class="toolbar-container">
    <mat-toolbar>
      <img class="logo-home" src="../assets/icons/gamepad-icon.svg" (click)="goHome()">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/games">
          <mat-icon>dialpad</mat-icon>
          <span>Games</span>
        </button>
        <button mat-menu-item routerLink="/franchises">
          <mat-icon>group_work</mat-icon>
          <span>Franquicias</span>
        </button>
        <button mat-menu-item routerLink="/characters">
          <mat-icon>smart_toy</mat-icon>
          <span>Personajes</span>
        </button>
        <button mat-menu-item routerLink="/companies">
          <mat-icon>apartment</mat-icon>
          <span>Compañías</span>
        </button>
        <button mat-menu-item routerLink="/platforms">
          <mat-icon>videogame_asset</mat-icon>
          <span>Plataformas</span>
        </button>
        <button mat-menu-item routerLink="/people">
          <mat-icon>person</mat-icon>
          <span>Personas</span>
        </button>
        <button mat-menu-item routerLink="/genres">
          <mat-icon>sports_basketball</mat-icon>
          <span>Géneros</span>
        </button>
        <button mat-menu-item routerLink="/themes">
          <mat-icon>castle</mat-icon>
          <span>Temáticas</span>
        </button>
        <button mat-menu-item routerLink="/awards">
          <mat-icon>voicemail</mat-icon>
          <span>Awards</span>
        </button>
      </mat-menu>
      <span class="spacer"></span>
      <!--<button mat-icon-button [matMenuTriggerFor]="menuAdd" aria-label="Example icon-button with a menu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menuAdd="matMenu">
        <button mat-menu-item routerLink="/games">
          <mat-icon>dialpad</mat-icon>
          <span>Games</span>
        </button>
        <button mat-menu-item (click)="dispatchDialog()">
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>-->
    </mat-toolbar>
  </div>

  <!--<img src="http://localhost:3000/images/characters/sonic/sonic.jpeg">-->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
