<div class="common-content">
    <vgdb-common-list-header [dataType]="'award'" (dialogNewOpen)="dispatchNewDialog()" (toSearch)="search($event, 0)" (toNavigate)="navigateTo($event)"></vgdb-common-list-header>
    <div *ngIf="!!awards.length">
        <vgdb-items-list [itemsList]="awards"
                        [itemsTotal]="itemsTotal"
                        (onPageChange)="pageChange($event)"
                          navigateTo="awards" imgPath="awards">
        </vgdb-items-list>
    </div>
    <div *ngIf="!awards.length">
        <p>No se han encontrado premios</p>
    </div>
</div>

<ng-template #awardForm><vgdb-award-form (submitted)="formSubmitted($event)"></vgdb-award-form></ng-template>
