<div *ngIf="genre">
    <div class="header-container" [style]="backgroundStyle">
        <div class="common-header">
            <div class="side left-info">
                <div class="titles-container">
                    <div class="title">{{genre.name}}</div>
                </div>
            </div>
            <div class="side right-info">

            </div>
        </div>
    </div>

    <div class="common-content">
        <mat-expansion-panel *ngIf="genre.sub_genre && genre.sub_genre.length">
            <mat-expansion-panel-header class="divider"[style]="backgroundStyle">
              <mat-panel-title>
                Subgéneros
              </mat-panel-title>
            </mat-expansion-panel-header>
            <vgdb-items-list [itemsList]="genre.sub_genre"
                              navigateTo="genres" imgPath="genres">
            </vgdb-items-list>
        </mat-expansion-panel>        
        <mat-expansion-panel *ngIf="genre.games && genre.games.length">
            <mat-expansion-panel-header class="divider"[style]="backgroundStyle">
              <mat-panel-title>
                Juegos
              </mat-panel-title>
            </mat-expansion-panel-header>
            <vgdb-items-list [itemsList]="genre.games"
                              navigateTo="games" imgPath="games">
            </vgdb-items-list>
        </mat-expansion-panel>
    </div>
</div>