<div class="common-content">
    <vgdb-common-list-header [dataType]="'character'" (dialogNewOpen)="dispatchNewDialog()" (toSearch)="search($event, 0)" (toNavigate)="navigateTo($event)"></vgdb-common-list-header>
    <div *ngIf="!!characters.length">
        <vgdb-avatars-list [avatarsList]="characters"
                           [itemsTotal]="itemsTotal"
                           (onPageChange)="pageChange($event)"
                           navigateTo="characters" imgPath="characters">
        </vgdb-avatars-list>
    </div>
    <div *ngIf="!characters.length">
        <p>No se han encontrado personajes</p>
    </div>
</div>

<ng-template #characterForm><vgdb-character-form (submitted)="formSubmitted($event)"></vgdb-character-form></ng-template>
