/* You can add global styles to this file, and also import other style files */
@use './variables'; 

@font-face {
    font-family: 'pixela';
    src: url('./assets/fonts/pixela-extreme.ttf');
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif!important; 

    .mdc-evolution-chip__action--presentational {
        cursor: pointer;
    }

    .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
        background-color: variables.$light-grey;
    }

    .common-header {
        max-width: variables.$max-screen-width;

        /* Centers the class */
        margin-left: auto; 
        margin-right: auto;

        display: flex;
        min-height: 180px;
        color: white;
        background-color: transparent;
        padding: 10px 20px;
        justify-content: space-between;
        .side {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            &.left {
                flex-grow: 1;
            }
            &.right {
                flex-shrink: 0;
            }
        }
        .titles-container {
            margin-bottom: 14px;
        }
        .title {
            font-family: "pixela";
            font-size: 42px;
            font-weight: 700;
            line-height: 1.45;
        }
        .aka-title {
            color: lightgrey;
            font-size: 13px;
            margin-top: -5px;
        }
        .related-game {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 14px;
            a {
                color: white;
            }
        }
        .logo-container {
            background-color: white;
            margin-left: 10px;
            padding: 5px;
            border-radius: 15px;
            .logo {
                max-width: 230px;
                max-height: 150px;
                margin: auto;
                display: block;
            }
        }
    }

    .common-content {
        max-width: variables.$max-screen-width;
        /* Centers the class */
        margin-left: auto; 
        margin-right: auto;
        padding: 10px 20px;

        .divider {
            font-family: "pixela";
            color: white;
            font-size: 22px;
            font-weight: 700;
            line-height: 1.45;
        
            height: 50px;
        }
        
        mat-expansion-panel {
            margin-bottom: 50px;
            .expansion-container {
                &:nth-of-type(1) {
                    margin-top: 5px;
                }
                &:last-child {
                    border-bottom: none;
                }
                padding-bottom: 20px;
                margin-top: 30px;
                border-bottom: 1px solid variables.$grey-border;
            }
            .subtitle {
                font-size: 20px;
                margin-bottom: 20px;
                font-weight: 700;
            }
        
            iframe {
                margin-bottom: 10px;
            }
        }
        


        .mat-expansion-panel:not([class*=mat-elevation-z]) {
            box-shadow: none;
        }

        .mat-expansion-panel-header-title {
            color: white;
        }
        .mat-expansion-panel-header.mat-expanded {
            height: 50px;
            margin-bottom: 15px;
        }

        .mat-expansion-indicator::after {
            color: white;
        }
    }

    .info-entry {
        margin-bottom: 10px;
        .label-info {
            font-weight: bold;
        }
        .value-info {
            display: flex;
            align-items: center;
        }
        .img-line {
            height: 35px;
            width: 35px;
            border: 1px solid variables.$grey-border;
            border-radius: 35px;
            object-fit: scale-down;
            margin-right: 5px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        mat-form-field {
            width: 100%;
        }
        .form-button {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }

    .dialog-button {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .fav-button-bottom-right {
        right: 60px;
        bottom: 40px;
        position: fixed;
    }

    .alert-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        button {
            width: 160px;
            height: 40px;
        }
    }

}
