<div class="common-content">
    <vgdb-common-list-header [dataType]="'theme'" (dialogNewOpen)="dispatchNewDialog()" (toSearch)="search($event, 0)" (toNavigate)="navigateTo($event)"></vgdb-common-list-header>
    <div *ngIf="!!themes.length">
        <vgdb-items-list [itemsList]="themes"                         
                         [itemsTotal]="itemsTotal"
                         (onPageChange)="pageChange($event)"
                         navigateTo="themes" imgPath="themes">
        </vgdb-items-list>
    </div>
    <div *ngIf="!themes.length">
        <p>No se han encontrado temáticas</p>
    </div>
</div>

<ng-template #themeForm><vgdb-theme-form (submitted)="formSubmitted($event)"></vgdb-theme-form></ng-template>