
<div class="common-content">
    <vgdb-common-list-header (dialogNewOpen)="dispatchNewDialog()" (toSearch)="search($event)"></vgdb-common-list-header>
    <div *ngIf="companies.length">
        <vgdb-items-list [itemsList]="companies"
                          navigateTo="companies" imgPath="companies">
        </vgdb-items-list>
    </div>
    <div *ngIf="!companies.length">
        <p>No se han encontrado compañias</p>
    </div>
</div>

<ng-template #companyForm><vgdb-company-form (submitted)="formSubmitted($event)"></vgdb-company-form></ng-template>