
<div class="common-content">
    <div>
        <button mat-icon-button aria-label="Nueva" (click)="dispatchDialog()">
            <mat-icon>add</mat-icon>
         </button>
    </div>
    <div *ngIf="companies.length">
        <vgdb-items-list [itemsList]="companies"
                          navigateTo="companies" imgPath="companies">
        </vgdb-items-list>
    </div>
</div>

<ng-template #companyForm><vgdb-company-form (submitted)="formSubmitted($event)"></vgdb-company-form></ng-template>