<div *ngIf="!!serieForm">
    <form [formGroup]="serieForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input id="name" type="text" formControlName="name" matInput>
        </mat-form-field>
        
        <mat-checkbox formControlName="is_main">Principal</mat-checkbox>

        
        <div class="form-button">
            <button type="submit" [disabled]="!serieForm.valid" *ngIf="!data" mat-stroked-button>Crear</button>
            <button type="submit" [disabled]="!serieForm.valid" *ngIf="!!data" mat-stroked-button>Modificar</button>
        </div>
    </form>
</div>