<div class="common-content">
    <vgdb-common-list-header [dataType]="'game'" (dialogNewOpen)="dispatchNewDialog()" (toSearch)="search($event, 0)" (toNavigate)="navigateTo($event)"></vgdb-common-list-header>
    <div *ngIf="!!games.length">
        <vgdb-items-list [itemsList]="games"
                         [itemsTotal]="itemsTotal"
                         (onPageChange)="pageChange($event)"
                         navigateTo="games" imgPath="games">
        </vgdb-items-list>
    </div>
    <div *ngIf="!games.length">
        <p>No se han encontrado juegos</p>
    </div>
</div>

<ng-template #gameForm><vgdb-game-form (submitted)="formSubmitted($event)"></vgdb-game-form></ng-template>